{erl_opts, [debug_info]}.

{deps, [{parserl, {git, "https://github.com/williamthome/parserl.git",
                  {branch, "main"}}}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [eel]}
]}.

{profiles, [
    {test, [
        {extra_src_dirs, [
            {"test/support", [{recursive, true}]}
        ]}
    ]}
]}.

