{erl_opts, [debug_info]}.
{deps, []}.

{project_plugins, [
    % $ rebar3 fmt
    erlfmt
]}.

% Config default format command as -w
{erlfmt, [write]}.

{profiles, [
    {test,
        [
            {extra_src_dirs, [
                {"test/support", [{recursive, true}]}
            ]}
        ]
    }
]}.
